.simplebar-track {
  background-color: transparent;
  border-radius: 100px;
}
.simplebar-scrollbar {
  background-color: #aaa;
  border-radius: 100px;
}
.simplebar-scrollbar.simplebar-visible::before {
  background-color: transparent;
  border-radius: 100px;
}
.simplebar-content-wrapper {
  border: none;
  outline: none;
}
