.simplebar-track {
  background-color: transparent;
  border-radius: 100px;
}
.simplebar-scrollbar {
  background-color: #ddd;
  border-radius: 100px;
  height: 8px;
}


.column .simplebar-scrollbar {
  width: 5px;
  margin-left: 5px;
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: transparent;
  border-radius: 100px;
}
.simplebar-content-wrapper {
  border: none;
  outline: none;
}
